.slideContainer {
    margin-bottom: 1rem;  
    position: relative;
    overflow: hidden;
}

.slideContext {
    display: flex;
    position: relative;
    transition: 0.5s ease-in-out;
}

.slide {
    display: flex;
    flex: 1 0 100%;
}

.slide img {
    width: 100%;
}

.arrows {
    color: #FFFFFF;
    position: absolute;
    cursor: pointer;
    font-size: 2.5rem;
    top: calc(50% - 32px);
    background-color: #97A3B8;
    border-radius: 5px;
    z-index: 2;
}

.arrows:hover {
    background-color: #FFFFFF;
    color: #000000;
    transition: 0.5s ease-in-out;
}

.prev {
    margin-left: .5rem;
}

.next {
    right: 0;
    margin-right: .5rem;
}

.slideNumber {
    font-size: 2rem;
    position: absolute;
    background-color: #97A3B8;
    margin: 1rem 0 0 1rem;
    border-radius: 10px;
}

.paginationContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    position: absolute;
    bottom: 10px;
    z-index: 2;
}

.paginationContainer li {
    cursor: pointer;
}

.paginationInput {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin: 0 5px;
    background: transparent;
    border: solid 2px white;
    cursor: pointer;
    transition: 0.1s linear;
    outline: none ;
}

.paginationInput.focused {
    background-color: white;
    box-shadow: 0 0 0 2px teal, 0 0 18px white;
}